<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin Login</title>
</head>
<body>
    <h2>Admin Login</h2>
    <form method="post">
        <input type="text" name="username" placeholder="username" required>
        <br><br>
        <input type="password" name="password" placeholder="password" required>
        <br><br>
        <button type="submit">Logg inn</button>
    </form>
</body>
</html>